.head{
    background-color: white;
    border: 3px grey solid;
    border-radius: 20px;
    padding: 10px;
    height: fit-content;
    width: 290px;
    margin-left: 40%;
    margin-top: 10px;
}

.para{
    font-size: 28px;
    font-family:'Times New Roman', Times, serif;
    margin: 20px;
    
}

.git{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.sign{
    margin-left: 24%;
}

.container{
    background-color: white;
    height: 250px;
    width: 280px;
    margin-left:40%;
    padding: 15px;
    border-radius: 20px;
    border: 3px grey solid;
    margin-top: 20px;
}

.user{
    font-size: 15px;
    margin: 5px;
    font-family: serif;
}

.int{
    margin-bottom: 15px;
    width: 240px;
    height: 20px;
    margin-left: 6px;
}

.button{
    width: 240px;
    background-color: green;
    color: white;
    font-weight: bold;
    padding: 7px;
    border: 3px green solid;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 10px;
}

.new{
    margin-left: 10%;
}
